body {
  background-color: black !important;
}

.timer-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20% auto 0;
}

.timer {
  font-size: 5rem;
  color: white;
}

.label {
  color: white;
}

#button-addon2 {
  width: 5rem;
  height: 3rem;
  font-size: 1.5em;
}
